body {
  font-family: "Roboto" sans-serif;
  background: #455a64;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #818f95;
  font-size: 48px;
}

.input,
.result-container {
  width: 100%;
  color: #455a64;
  background: #818f95;
  font-size: 48px;
  padding: 2px;
  border: solid 1px #fff;
  text-align: center;
  margin: auto;
}

.result-container {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.result-container .title {
  font-size: 18px;
  color: #000;
  text-align: center;
}

.version {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
